<template>
    <v-collapse-wrapper>
            <dl class="help-section-topics">
                <dt class="help-question"><h4 v-collapse-toggle aria-controls="help-answer" aria-expanded="false">{{ question }}</h4></dt>
                <dd id="help-answer" v-collapse-content class="help-answer collapse"><slot/></dd>
            </dl>
    </v-collapse-wrapper>
</template>

<script>
export default {
    name: 'FaqItem',
    props: {
        question: String
    }
}
</script>
