<template>
    <v-collapse-wrapper>
        <section class="help-section card">
            <div role="tab" id="help-tab">
                <h3 class="help-section-title" v-collapse-toggle aria-controls="help-tabpanel" @click="slideOut" aria-expanded="false">
                    {{ name }}
                </h3>
            </div>
            <v-collapse-group id="help-tabpanel" v-collapse-content class="help-tabpanel collapse" role="tabpanel" aria-labelledby="help-tab">
                <slot/>
            </v-collapse-group>
        </section>
    </v-collapse-wrapper>
</template>

<script>
    export default {
        name: 'FaqSection',
        props: {
            name: String
        },
        methods: {
            slideOut() {
                var content = this.$children["0"].$el.childNodes["0"].childNodes[2];
                var height = 0;
                Array.from(content.children).forEach((child) => {
                    height += child.scrollHeight;
                });
                if(content.style.maxHeight){
                    content.style.maxHeight = null;
                }
                else {
                    content.style.maxHeight = content.scrollHeight + height + "px";
                }
            }
        }
    }
</script>
