<template>
    <div id="help-sections" class="help-sections" role="tablist" aria-multiselect="true">
        <h2 class="sr-only">{{ heading }}</h2>
        <slot/>
    </div>
</template>

<script>
    export default {
        name: 'FaqTable',
        props: {
            heading: String
        }
    }
</script>

<style>
    .help-sections {
        border: 2px grey;
        background: lightgrey;
        padding: 50px;
    }
</style>
