<template>
    <div id="app">
        <FaqTable heading="Otázky a odpovědi">
            <FaqSection name="Talenti" v-for="index in 5">
                <FaqItem question="Co znamenají „Požadované dovednosti“ při zadávání nabídky?" v-for="index in 5">
                    Požadované dovednosti vám u každé nabídky zobrazí talenty, kteří jim odpovídají a které můžete oslovit s vaší nabídkou. Pokud požadované dovednosti nezadáte, nezobrazí se vám žádní talenti.
                </FaqItem>
            </FaqSection>
        </FaqTable>
    </div>
</template>

<script>
import FaqItem from './components/FaqItem'
import FaqSection from './components/FaqSection'
import FaqTable from './components/FaqTable'

export default {
    name: 'App',
    components: {
        FaqItem,
        FaqSection,
        FaqTable
    }
}
</script>

<style>
    #app {
        margin: 0 auto;
    }
</style>
